html, body, #mainContainer  {  
  height: 100%; width: 100%; 
  margin: 0; padding: 0; 
}
input.gsearchinput[type=text] {
    width: 225px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-image: url('../images/magnifying_glass.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 6px 20px 6px 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
table tr.spacer { 
	height: 2px; 
	padding: 5px 15px;
}
.spacing-table {
    border-spacing: 0 5px; /* this is the ultimate fix */
}
input.gsearchinput[type=text]:focus {
    width: 98%;
	background-color: white;
	
}
input.gsearchinput[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.1s ease; 
  opacity: 0;
}
input[type=button] {
   display: inline-block;
  padding: 5px 7px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #000000;
  background-color: #e5e5e5;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}